html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

body {
  color: white;
  background-color: #0883be;
}

a {
    color: white;
    text-decoration: none;
}

.hero-container {
    position: relative;
}

img {
    display: block;
}

.hero {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 7.5%;

    width: 25rem;
}

.title {
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Righteous', cursive;
}

.date {
    margin-top: 2rem;
    font-size: 2rem;
}

.register {
    font-size: 2.3rem;
    font-weight: bolder;
    margin-top: 20rem;
}

.sea-container {
    position: relative;
    transition: height 0.2s ease-out;
}

.sea-content {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    padding-top: 7.5%;
    width: 60%;
    margin-bottom: 3rem;
}

.about-title {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Righteous', cursive;
}

.about-content {
    font-size: 1.7rem;
}

.schedule {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;

    text-align: center;
    width: 60%;

    margin-top: 1rem;
    margin-bottom: 3rem;
}

.schedule-day {
    min-width: 40%;
    min-height: 30rem;

    display: flex;
    flex-direction: column;
}

.day-title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;  
}

.schedule-body {
    color: transparent;
    font-size: 5rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;

    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-container {
    position: relative;
}

.bottom-content {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    padding-top: 10rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq {
    width: 60%;
}

#questions-container {
    text-align: left;
    line-height: 2rem;
    width: 60%;
}

#questions {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
}

#questions>:not(:last-child) {
    margin-bottom: 1rem;
}

.question {
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}

.question:after {
    content: '\002B';
    color: #F6C35B;
    font-weight: bold;
    font-size: 2rem;
    float: right;
    margin-right: 1rem;
}
  
.question-active:after {
    content: '\2212';
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.sponsors {
    width: 60%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.sponsors > div {
    display: flex;
    justify-content: center;
    align-items: center;
}


.tile {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 1rem 2rem;
}

@media only screen and (max-width: 800px) {
    .hero {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 7.5%;

        width: 10rem;

        align-items: center;
    }

    .about {
        width: 90%;
    }

    .schedule {
        width: 90%;
        flex-direction: column;
        margin-bottom: 0;
    }

    .faq {
        width: 90%;
    }

    #questions-container {
        width: 90%;
    }

    .sponsors {
        width: 90%;
        gap: .5rem;
    }

    .title {
        font-size: 3rem;
    }

    .date {
        font-size: 1.5rem;
    }

    .register {
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    .about-title {
        font-size: 2rem;
    }

    .about-content {
        font-size: 1.3rem;
    }

    .tile {
        padding: .5rem 1rem;
    }

    .schedule-day {
        min-width: 10rem;
        min-height: 20rem;
        margin-bottom: 2rem;
    }

    .bottom-container {
        margin-top: 3rem;
        height: 25rem;
    }

    .bottom-container > img {
        position: absolute;
        bottom: 0;
    }

    .bottom-content {
        padding-top: 0;
    }
}